.footer__container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px #ff06 solid;
}

.footer__text {
    font-family: "Inter";

    & b {
        font-weight: 700;
    }
}
